@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#2b1055, #7597de);
}
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100xp;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
.header__logo{
    color: #FFF;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.header__nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__nav li{
    list-style: none;
    margin-left: 20px;
}
.header__nav li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #FFF;  
    border-radius: 50px;
}
.header__nav li a:hover,
.header__nav li .active{
    background: #FFF;
    color: #2b1055;
}
.main{
   position: relative;
   width: 100%;
   height: 100vh;
   padding: 100px; 
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}
section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#1c0522, transparent);
    z-index: 1000;
}
.main img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
.main--moon{
    mix-blend-mode: screen;
}
.main--mountainsF{
    z-index: 10;
}
#mainText{
    position: absolute;
    color: #FFF;
    right: -180px;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
}
.btn{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #FFF;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
}
.description{
    position: relative;
    padding: 100px;
    background: #1c0522;
    z-index: 11;
}
.description h2{
    margin-bottom: 10px;
    font-size: 3.5em;  
    color: #FFF;
}
.description p{
    font-size: 1.2em;  
    color: #FFF;
}